.App {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-auto-flow: row;
}

#legal_recomendations:hover {
  cursor: pointer;
}
.App {
  min-height: 100vh;
}

a{
  text-decoration: none !important;
}